
<%= form_with scope: :list, url: lists_path, local: true do |form| %>
  <h2>Budget Allocation Lists</h2>
  <p><%= form.label :persons %><br></p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email%>
  </p>
   <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email%>
  </p>
   <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email%>
  </p> 
  <p>
    <%= form.submit %>
  </p>
<% end %>